<div>
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="px-4 py-5 border-indigo-400 border-4 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        LED
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= @info[:led_state] %>
      </dd>
    </div>

    <div class="px-4 py-5 border-indigo-400 border-4 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        STATE
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= @info[:state] %>
      </dd>
    </div>

    <div class="px-4 py-5 border-indigo-400 border-4 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        ERRORS
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= @info[:error] %>
      </dd>
    </div>

    <div class="px-4 py-5 border-indigo-400 border-4 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        Heater Temperature
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= @info[:heater_temperature_c] %> ℃
      </dd>
    </div>

    <div class="px-4 py-5 border-indigo-400 border-4 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        Internal Pressure
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= @info[:internal_pressure_barg] %> bar
      </dd>
    </div>

    <div class="px-4 py-5 border-indigo-400 border-4 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        Total Produced
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= @info[:total_coffee_produced_ml] %> ml
      </dd>
    </div>
  </dl>
</div>
