<ul role="list" class="my-5">
  <% @telemetry.reverse.each do |t| %>
    <li class="py-1">
      <div class="relative focus-within:ring-2 focus-within:ring-indigo-500">
        <p class="mt-1 text-sm text-gray-600 line-clamp-2">
          <%= t[:timestamp] %>
          <%= t[:internal_pressure_barg] %>
          <%= t[:heater_temperature_c] %>
          <%= t[:total_coffee_produced_ml] %>
          <%= t[:state] %>
          <%= t[:led_state] %>
          <%= t[:error] %>
        </p>
      </div>
    </li>
  <% end %>
</ul>
