<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeMachineSim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-900">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <%= yield %>
    </div>

  </body>
</html>
